@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

.logo{
    width: 120px;
    height: 60px;
    vertical-align: middle;
}

.nav{
    display: flex;
    align-items: center;
    font-family: 'Aboreto', cursive;
    font-size: 40px;
}

a:link {
    color: white;
    text-decoration: none;
}
  
a:visited {
    color: white;
    text-decoration: none;
}
  
a:hover {
    color: white;
    text-decoration: none;
}
  

a:active {
    color: white;
    text-decoration: none;
}

.navbar{
    background-color: #a5d6a7 important!;
}

.botonesMenu{
    font-family: 'Aboreto', cursive;
    font-size: 18px;
    margin-right: 15px;
}

.botones{
    display: flex;
    align-self:center;
}